@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu&display=swap');

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: url(../img/bg1.jpg) no-repeat center center/cover;
}

/* Navbar */
.jumbotron {
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 100;
  background: rgb(244, 242, 242);
  position: relative;
  animation-name: jumbotron;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes jumbotron {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  text-align: center;
}

.jumbotron .logo img {
  max-height: 300px;
}

.jumbotron .lead {
  font-weight: bold;
}

.jumbotron .btn {
  background: rgb(193, 49, 71);
  color: white;
}

/* All Fellows */
main {
  min-height: 100vh;
}

#allFellows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgb(206, 187, 165);
  margin: 40px auto;
  max-width: 80%;
  padding: 25px;
  position: relative;
  animation-name: fellows;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fellows {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#allFellows .fellow {
  padding: 20px;
  text-align: center;
  color: #111111;
}

#allFellows .fellow img {
  border-radius: 50%;
}

#allFellows .fellow strong {
  margin: 7px;
  font-size: 18px;
}

#allFellows .fellow a {
  text-decoration: none;
  color: #4070F4;
}

/* FOOTER */
footer {
  background: linear-gradient(270deg, rgb(255, 245, 201) 0.14%, rgb(255, 197, 210) 100%);
  padding: 20px;
}

footer .container {
  margin: auto;
  max-width: 60%;
}

.footer-flex .newsletter {
  margin: 45px;
}

.footer-flex .form-inline {
  display: block;
}

.footer-flex .form-inline label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.footer-flex .form-inline button {
  margin: 8px;
  background: rgb(193, 49, 71);
  color: #ffffff;
}

.footer-flex .footer-icon i {
  padding: 15px;
  font-size: 27px;
}

.footer-flex .footer-icon i:hover {
  color: rgb(193, 49, 71);
}

footer p {
  font-size: 14px;
  padding-top: 15px;
}

@media (max-width:1024px) {
  #allFellows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:768px) {
  .lead {
    font-size: 17px;
  }

  .jumbotron .btn {
    font-size: 15px;
  }
}

@media (max-width:425px) {
  .lead {
    font-size: 17px;
  }

  .jumbotron .btn {
    font-size: 12px;
  }

  #allFellows {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .container {
  margin: auto;
  max-width: 98%;
}

.footer-flex .newsletter {
  margin: 10px;
}

.footer-flex .form-inline {
  display: block;
}

.footer-flex .form-inline label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.footer-flex .form-inline button {
  margin-bottom: 10px;
  background: rgb(193, 49, 71);
  color: #ffffff;
}
}

@media (max-width:375px) {
  .lead {
    font-size: 12px;
  }

  #allFellows {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 100%;
  }

  #allFellows .fellow {
    padding: 2px;
    text-align: center;
    color: #111111;
    font-size: 14px;
    margin-bottom: 20px;
  }

  #allFellows .fellow img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
  } 

  #allFellows .fellow strong {
    font-size: 14px;
  }
}